@font-face {font-family:'monofurregular';src:url('monof55-webfont.eot');src:url('monof55-webfont.eot?#iefix')format('embedded-opentype'),
         url('monof55-webfont.woff2') format('woff2'),url('monof55-webfont.woff')format('woff'),url('monof55-webfont.ttf')format('truetype'),
         url('monof55-webfont.svg#monofurregular')format('svg');font-weight:normal;font-style:normal;}
